<html ng-app="usersApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="module.js"></script>
</head>

<body ng-controller="companyCtrl">
    <table border=2>

        <h1>user App</h1>
        <thead>
            <tr>
                <th>companyName</th>
                <th>RegistartionNo</th>
                <th>status</th>

                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                db.company.insert({"companyName":"TCS","companyInfo":{"RegistartionNo":1234},"status":"activated"})

                              <td><input class="form-control" ng-model="user.firstName"></td>
                              <td><input class="form-control" ng-model="user.lastName"></td>
                              <td><input class="form-control" ng-model="user.email"></td>
                              <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
                              <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
                            </tr> -->
            <tr ng-repeat="(key,value) in companylist[0]">
                <td>{{value.companyName}}</td>
                <td>{{value.companyInfo.RegistartionNo}}</td>
                <td>{{value.status}}</td>

                <!-- <td><button class="btn btn-danger" ng-click="remove(user._id)">Remove</button></td>
                    <td><button class="btn btn-warning" ng-click="edit(user._id)">Edit</button></td>
                </tr> -->
        </tbody>
    </table>

    </div>
    </table>


    <script src="controllers/companyCtrl.js"></script>
</body>

</html>